node_modules
dev/experiments
dev/assets
types/p5play.js
types/p5play.d.ts
dev/sketch*
package-lock.json
v4

.DS_STORE
logs
*.log
npm-debug.log*

bun.lockb

node_modules/

# ignore to preserve files
demos
v2

.vscode
