.mies {
	display: flex;
	flex-direction: column;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-family: sans-serif;
}

.mies * {
	outline: none;
}

.mies-main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mies.horiz .mies-main {
	flex-direction: row;
}

.mies-title {
	padding: 4px;
	text-align: left;
	border-bottom: 2px solid #ccc;
}

.mies-title span {
	padding-left: 8px;
	font-weight: bold;
}

.mies-logo {
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-left: 6px;
	float: left;
	background-size: cover;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAhGVYSWZNTQAqAAAACAAFARIAAwAAAAEAAQAAARoABQAAAAEAAABKARsABQAAAAEAAABSASgAAwAAAAEAAgAAh2kABAAAAAEAAABaAAAAAAAAAEgAAAABAAAASAAAAAEAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAQKADAAQAAAABAAAAQAAAAAC1ay+zAAAACXBIWXMAAAsTAAALEwEAmpwYAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNi4wLjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgoZXuEHAAAKHklEQVR4Ae1beWwc5RX/zXp3vWuv7/sIsRM3h0kIV6G0igKVCmmjNpRSiYTeVJFIW0qpURRBRWnaSG1pI/iDtDH0SAuBQomqGmOCKKBWYFIgRXEu4iON4/tcX7ter3f6ft/4c9abtROw6zjafdLMrOebefPeb37vfe97Ixu+pstMxLDYYth35XocgDgDYhyBeAjEOAEQZ0CcATGOQDwEYpwA8SQYD4F4CMQ4AvEQiHECxGeBeAjEQyDGEYiHQIwTID4LxEPgUg8BU75rzebTlv1iABAKRXmqAdhkO58oh8VjQ67lZpvgMM+HiETY2Pl0cXzeAaDRbleEp/KnKaAExuhBdNGOOx0G7GJ1cNy6flzuoU6HnHc5DfU7EDAxLuManOgarbPzBgAdsCcA/QMhVL0yOGmcIdbT8bxsOz6zLjmqrbyXztD59s4gDtX58Z8jfjScGkO/N6Scz8+xYdnSRFy92oVVKxKRnGSDb9Q8L6vmDQB6ZhOOj/hC+NZ93nMcvWOjIyoAGrixIPDMi15s/k7/OfeePTEqPwfwxfV2PPiDLFy5yoVRAYEMmU7mFQASnG+SW+ki8h5ITASOnjRRkCv0iBA6nyCn/ULpHb/uwi93+5HsBgryDPj9gM9vUR2iyumwQovH/TVB2TpQ83QWbl7ngX8GEOYVAPpHp5gET7eY6ndmuuX1WJDwnCtkzZ4/9Srn16w0FFj1p0x4BIjcHANjYxJa4sWkTlFRmGvpWb+5BwerE3DtGrcCK1pOmHcAtIs0hkZPR0+OuSRZHj7qR8VPhrB8iYH3j1kgpXkA7xAwdHoqaNkZEgCDQGsnsGq5IUcT132uEz1Hi+FJtqnEGPk8MWNhCg0lWw68MawM9DO8RdJTLOevWGGgam8WDv8jH+/U5OHxnano7gPSZLyk2EDdCROfvSkBB1/Kk1nHNi3YF40BljvR93ScDBkeCeFfByXYRbwDpppF9B37fpOH8nIXxiU/EKxr1rhwuWT/dbd1oavPxBO/SsOXNqQiPdWmcoC+L/K4IAGgkQSASe7IcZnQRXyCQ5ZQvKMb+O43E1FW6sTIoMSJFgFh7fVJ+OsTmVhc7FCAsB4Y8clUOAPPFywA2i+yQQvzAoXA8LyOZ31ktt94i8SAgEHH5TCj89Q1AzYcvnhCBxOlsisrtUxMdAI9UgLkZwNP7gvgfSmE3JLY6DyB0YCwqBqVN8+yWgMzkxcLEgAazlI2OcmQKUw8F/FIkUhHB62ciOs3dKL6wCCCMn0mua3yWDOEzl+oLEgAaDzfqMNu4MZPWeVxaorl1bBPwJAagLLhqz342j1tqH51SJXEXGOwXOaiiPdfiCxYAMgCUvkTV7vxhZvtON5golSmN8qQgMCKb8llBva/FFRArN3Ygt/t68eZtjG4Eg0FnmbETEAsaACsMLDhFz/KUT40nTGxrNQCISAVYKMUQhmpwNLFBk40mvh2hRcl17Vi9x960d0bhFtCg0yYiQ0LFgB6zOmLmX3ZEifqXstHcb6BD5pMLJF1xKICQ433DQAN/zXhljUFz2emyTT5wCAKrmzBG2+OwDmxRJ4uIhY0ABoETnsrlyXinZcLsXN7MhqbTTS3mWDpy0UVnfdJpcjzLJHLhBGUm27vwjP7vbJWkL+nQWDBA6BB8AsImRl23L81W5W/D92XhM4eoEmcpvNLJR+4ZMJg2NQLI7heWFlm4Cvf68eB14dUXoiWEy4JADQInPLGZJ4vX56IB+/NQf1bhah8JE2xoEHygT9g1Qm8nkw4LTnDk2TNFq0dQTVDROaDSwYAOsWZgRvZwOVzySIH7tqUjtrqIjy3J0PNDO1SKrNYogxL+VyQa4XDm/8eUcvmeQEg8iGWOTPvLTOjX0N9apsYZnIkEKz1mR8y0my4/fOpaKwtwqZbHSAIuZnWxQNDVvDXvutT10euC+aUAdpQZt7zSSRI0XIUr2HcsuHJjRVe+H0EgQ4FpV02NBxCUZEDP66YeP0yliBjoxIWlA8axiY7Q+E65gQAGq8NZcatbwpMMVRZMLHTiYi1PQ3RUNkTrI6uvpbX0TmWuZ3dQex8tAtHToyquT04PhUuAsH7/dJvzMuxY/2NCSpBprB8thaT6POa0kk+tz84awDoBN8MDe0SQx+r7MGKtW04Xj8Kl9umHkpnxuXh7Ar3eS2LsjIM1dpmz4+SkW6TN3a2cGERw0rw+aoBFF3VgoceGcGWii60tAVVd4c6wzc6R+aNSA+h5vVxFSKcHTTlUzyG0h85Hc4KAOW8aODU8/dXhlAohlbskPQrsnVbF5rPBODxJKjWFltSTFx/q5GelQh7eRQdLlzDEwzW8Ty+/Z4Pd97dii9vkTaPCFtc7x4OYdPdbag7NqpWigSd9T83D9vgwoDfP2t1jYukcUr6k2mUFWUOZQf1kzFaPnI/gCQkulx+btvRid17rZ5VSZGh+vG1h0JYv6kND9+fjqIChySrEA68NoyfP+5DXhbQ0kENZ99QuRQ6FFNQddht0vMPoOrVcXzyGhveei+kWlyFecA/3w5h9afbwTrghmvdyExPUEzgNLdv/wCeqwqqWeBMu6U/NdVAR4+JGz7uVqBFNkiM2fzXGBnA1dcf/9KPu37oBbu2unGZI1m4q1f5NGWXJzmKXR2+BHaEucZnzD7720JpkctKbiL2edP2n3ViV6Uf5R+zusE8lyX3OOS1MdNHE5bL2nnmgICwYFTY1nKoCLlZdsXCOWGAfvi4cOqOW9NQK5StfCqA1ULVY/Wmcl63rnkt88SwdGnapGNLSfVAEpYhAJjYfk8mUjxCYZnSyCqCwGT6wL3ZaG5tx/MvBlVV1y1vssuKCJDiLpd1LcGkU/3SN9TOszXOPMJ1wstPZ0s9YJ/UrwyY2M2KAdRBFnDd7h0cx7afdqpuDZGnc/rjBeOdBjolHrlUpeEnmyyK7n00HZtvS1OhFP5mCALzw6Do3VXZix27RpTJiyXE1McSAYudYn4xYmJzyPLYJVFE/YzzU1IFUtgjZJuMoRquXw3KbtYAUBEf6BQQ/KMhvFA9iK9/30pE+iHRjkxqux7OUg0Plrg0l28yXAgCHSPILGT2/LkfT70wkT3DL4zye8udTmz9RgZWS+eYs0mkbn3LnABAZTSS9GVOaJOEpD5gykfMeklmPdKmZlGSm80PmE5cJd/s1lzuksVNgipreX+0t6P1coz5gQmsUfTVHffj2MkATjWPobcvpMDjNFpSbFfrhCtWulTXmAzicprhN53MGQDaWAJBECY/YQv6fMN8BQwVGkUwSElWcHqens5AfZ5sIPVZERIQ6mRTROmWi1hjUDdzB21gmcx7zqd/TgHQxtIAbjRUbxzT58PH9D0XeqRTFOrVzslPxQKOUTdFj1l/Tb//yHXA9CqnOs3rlNEEQ36HAzKTjunGwh3TgPJarZfHDyP/FwAiDfiwRkXeP9Pfs9Ut0Rjb8j8SjhjlRZ3AJgAAAABJRU5ErkJggg==");
}

.mies.p5 .mies-logo {
	width: 36px;
	background-image: url("https://p5js.org/assets/img/p5js.svg");
}

.mies-preview {
	display: flex;
	justify-content: center;
}

.mies.vert .mies-preview {
	width: 100%;
}

.mies-editor {
	width: 100%;
	font-size: 14px;
}

.mies.vert .mies-editor {
	border-top: 2px solid #ccc;
}

.mies.horiz .mies-editor {
	border-left: 2px solid #ccc;
}

.mies-edit,
.mies-play {
	float: right;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.mies-play {
	margin-top: 2px;
	width: 18px;
	height: 16px;
	background-size: 18px 16px;

	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEUAAABACAMAAAB7nkqoAAAAM1BMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADbQS4qAAAAEHRSTlMAMGDgQKAQgMDwIFDQcJCwmc09OQAAAAlwSFlzAAABlAAAAZQB3gpsbAAAAilJREFUWIXtmMmWhDAIRTUOSTSW/v/X9mkzQR5E6/S2365UboEhQBx0jcfi/BU1Obuv+KT11zUdcLloXzKgKhwbf2iJtxawvrVZREQ5Qx6b89UZCMOwLmBMNFVOee4DjEH1o/gzpiddudIyxgBWKPtAMdoL4Qpbj9J9I1R+1CmvIdfljUZBSPjYeZ5nY88J7hmZ0kIWlq3b0YKMRLHcY4sJPzuO8UjZuR/IuDkYGKNsdIm9lNJRH0BQCnU2yI4kn4WMyhQajxJN1oiYTCHxnl2GiEkU8zIcBeNaV/wGRvWVnC6qXSnXurKDbRGmNqe45rcoA8bcaqu/O/F0Cs9NKfVTq8O3wFal6DnbpdzJsZauA6ZEJxgXxY6Ut3NngajHraaUYnGPGbBk0mpyyD1hGK1tGx9qPaygh//+178kycnU3Q1xS1hrSnmVWsP1XIDXu7T5lP36JgtgSZXqY6rTDqyLekGVBhZnOrCtsmBbVUq5+wOllupHSmfP165yPlC8vkika+x9ih/BuKguSSrVrXFqou7TKX1k7LIypdeSkkiK5aghkkcMHRnyMgLlCUMhpYEB5GEHsX4ydyjXpHdaNh3WEw0g4n3ZHT6pEp/rNYZ5MTXThKoxfjnBs6wkbwpHLtc9TcgUAaPK8+JDKV+esjSKOl00Cu0m45SvTp865ZuTsEQp916fyony0Ecnw5dfCKhFNGhf+quvFRTz640UK/1yEuQvJ7eGYfgBUN59CttbLNcAAAAASUVORK5CYII=");
}

.dark .mies-play {
	filter: invert(90%);
}

.mies-play:active {
	animation: spin 0.2s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.mies-play:hover {
	border-color: transparent transparent transparent #404040;
}

.mies-edit {
	color: #202020;
}

.mies-edit:hover {
	color: #404040;
}

@media screen and (max-width: 1030px) {
	.mies-editor {
		font-size: 32px;
	}

	.mies-title {
		font-size: 32px;
		height: 32px;
	}

	.mies-logo {
		height: 32px;
		padding-right: 4px;
	}

	.mies-play {
		border-width: 14px 0 14px 18px;
	}

	.mies-edit {
		font-size: 22px;
	}
}
