.p5-mini {
	display: flex;
	flex-direction: column;
	border: 2px solid #ccc;
	border-radius: 10px;
	font-family: sans-serif;
}

.p5-mini * {
	outline: none;
}

.p5m-main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.p5-mini.horiz .p5m-main {
	flex-direction: row;
}

.p5m-title {
	padding: 4px;
	text-align: left;
	border-bottom: 2px solid #ccc;
}

.p5m-title span {
	padding-left: 8px;
	font-weight: bold;
}

.p5m-logo {
	height: 16px;
	margin-top: 2px;
	padding-left: 8px;
	float: left;
}

.p5m-preview {
	display: flex;
	justify-content: center;
}

.p5-mini.vert .p5m-preview {
	width: 100%;
}

.p5m-editor {
	width: 100%;
	font-size: 14px;
}

.p5-mini.vert .p5m-editor {
	border-top: 2px solid #ccc;
}

.p5-mini.horiz .p5m-editor {
	border-left: 2px solid #ccc;
}

.p5m-edit,
.p5m-play {
	float: right;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.p5m-play {
	margin-top: 2px;
	width: 18px;
	height: 16px;
	background-size: 18px 16px;

	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEUAAABACAMAAAB7nkqoAAAAM1BMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADbQS4qAAAAEHRSTlMAMGDgQKAQgMDwIFDQcJCwmc09OQAAAAlwSFlzAAABlAAAAZQB3gpsbAAAAilJREFUWIXtmMmWhDAIRTUOSTSW/v/X9mkzQR5E6/S2365UboEhQBx0jcfi/BU1Obuv+KT11zUdcLloXzKgKhwbf2iJtxawvrVZREQ5Qx6b89UZCMOwLmBMNFVOee4DjEH1o/gzpiddudIyxgBWKPtAMdoL4Qpbj9J9I1R+1CmvIdfljUZBSPjYeZ5nY88J7hmZ0kIWlq3b0YKMRLHcY4sJPzuO8UjZuR/IuDkYGKNsdIm9lNJRH0BQCnU2yI4kn4WMyhQajxJN1oiYTCHxnl2GiEkU8zIcBeNaV/wGRvWVnC6qXSnXurKDbRGmNqe45rcoA8bcaqu/O/F0Cs9NKfVTq8O3wFal6DnbpdzJsZauA6ZEJxgXxY6Ut3NngajHraaUYnGPGbBk0mpyyD1hGK1tGx9qPaygh//+178kycnU3Q1xS1hrSnmVWsP1XIDXu7T5lP36JgtgSZXqY6rTDqyLekGVBhZnOrCtsmBbVUq5+wOllupHSmfP165yPlC8vkika+x9ih/BuKguSSrVrXFqou7TKX1k7LIypdeSkkiK5aghkkcMHRnyMgLlCUMhpYEB5GEHsX4ydyjXpHdaNh3WEw0g4n3ZHT6pEp/rNYZ5MTXThKoxfjnBs6wkbwpHLtc9TcgUAaPK8+JDKV+esjSKOl00Cu0m45SvTp865ZuTsEQp916fyony0Ecnw5dfCKhFNGhf+quvFRTz640UK/1yEuQvJ7eGYfgBUN59CttbLNcAAAAASUVORK5CYII=");
}

.p5m-play:active {
	animation: spin 0.2s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.p5m-play:hover {
	border-color: transparent transparent transparent #404040;
}

.p5m-edit {
	color: #202020;
}

.p5m-edit:hover {
	color: #404040;
}

@media screen and (max-width: 1030px) {
	.p5m-editor {
		font-size: 32px;
	}

	.p5m-title {
		font-size: 32px;
		height: 32px;
	}

	.p5m-logo {
		height: 32px;
		padding-right: 4px;
	}

	.p5m-play {
		border-width: 14px 0 14px 18px;
	}

	.p5m-edit {
		font-size: 22px;
	}
}
