#refs {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
}

#refs div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
	align-content: start;
}

#refs div:not(:first-child) {
	width: 48%;
}

#refs h2 {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 2px;
}

#refs div a:first-child {
	color: var(--primary);
	width: 100%;
}

#refs div a:not(:first-child) {
	/* font-family: monospace; */
	color: var(--pink);
	box-shadow: var(--blue) 3px 3px 0px;

	height: min-content;
	padding: 4px;
	margin: 2px;
}

#refs div h2:hover {
	color: var(--pink);
	text-decoration: underline;
}
