#otherLinks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
}

#refs {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
}

#refs div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
	align-content: start;
	margin-bottom: 0.83em;
}

#refs div:not(:first-child) {
	width: 48%;
}

#refs h2 {
	margin: 0;
	padding-top: 0.83em;
	padding-bottom: 5px;
}

#refs div a:first-child {
	color: var(--primary);
	width: 100%;
}

#refs div a:not(:first-child) {
	background-color: #f0ffff;
	color: var(--pink);
	box-shadow: var(--blue) 3px 3px 0px;

	height: min-content;
	padding: 4px;
	margin: 2px;
}

body.dark #refs div a:not(:first-child) {
	background-color: #091920;
}

#refs div h2:hover {
	color: var(--pink);
	text-decoration: underline;
}

#refs div:nth-child(4),
#refs div:nth-child(5),
#refs div:nth-child(6),
#refs div:nth-child(7) {
	width: 22%;
}
