html {
	--pink: #ed225d;
	--bright-pink: #ff1c5c;
	--dark-pink: #a10d38;

	--blue: #c0eeff;

	--primary: #000;
	--secondary: #fff;
	--bright: #000;
	--dark: #d1cdc9;
	--margins: #eee;
}

html:has(body.dark) {
	--primary: #cdc8c2;
	--secondary: #131516;

	--bright: #eee;
	--dark: #66615a;
	--margins: #242424;
}

body.dark {
	--blue: #002d3e;

	--primary: #cdc8c2;
	--secondary: #131516;

	--bright: #eee;
	--dark: #66615a;
	--margins: #242424;
}

html {
	background-color: var(--margins);
}

body {
	background-color: var(--secondary);
	color: var(--primary);
	display: flex;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: center;
	flex-wrap: wrap;
	font-family: sans-serif;
	width: 1030px;
	font-size: large;
}

.p5m-play {
	border-color: transparent transparent transparent var(--dark) !important;
}

.p5-mini .ace_cursor {
	border-color: var(--primary) !important;
}

.ace_numeric {
	color: var(--bright-pink) !important;
}

.ace_scroller,
.ace_active-line {
	background-color: var(--secondary) !important;
}

.p5-mini {
	background-color: var(--secondary);
	color: var(--primary);
}

.p5-mini,
.p5-mini div {
	border-color: var(--dark) !important;
}

a {
	color: var(--pink);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

nav a {
	color: var(--blue);
	-webkit-text-stroke: 1px var(--pink);
	text-shadow: 3px 3px 0px var(--blue);
}

h3 a {
	color: var(--pink);
	text-shadow: 4px 4px 0px var(--blue);
}

nav {
	font-size: 24px;
	font-weight: bold;
	user-select: none;
}

.page h3 {
	line-height: 32px;
}

nav img {
	height: 32px;
	vertical-align: bottom;
}

nav .socials img:not(.github) {
	opacity: 80%;
}

nav .discord-logo {
	height: 28px;
	border-radius: 40%;
}

nav .github {
	background-color: #aaa;
	border-radius: 50%;
}

nav .logo {
	height: 48px;
	margin-right: 8px;
	margin-top: 8px;
}

nav a {
	text-decoration: none;
	transition: 100ms;
	padding-left: 5px;
	padding-right: 5px;
}

nav a.active,
nav a:hover {
	color: #ed225d;
}

#topNav {
	padding-top: 8px;
}

#topNav a.active,
#topNav a:hover {
	font-size: 34px;
	/* text-shadow: 2px 2px 10px#ed225d; */
}

#topNav img:not(.logo):hover {
	height: 40px;
	box-shadow: 2px 2px 10px var(--pink);
}

p {
	text-align: left;
	line-height: 1.3;
}

code {
	padding: 2px;
	border: 1px solid gray;
	border-radius: 5px;
}

.page {
	display: none;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 20px;
}

.page>div,
.page>md {
	/* flex: 1; */
	width: 49%;
}

.page>.full {
	width: 100%;
}

.break {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	border: var(--pink) 2px solid;
	box-shadow: 4px 4px 0px var(--blue);
}

.page>.break {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.top.break {
	margin-top: 2%;
}

.minis {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2%;
	row-gap: 20px;
}

.minis.horiz>div {
	width: 100%;
}

.minis>div {
	width: 48%;
}

.ace_hidden-cursors {
	opacity: 0;
}

footer {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.credits div {
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 10px;
	font-weight: 500;
}

.credits span {
	font-size: 0.9em;
}

.text-small {
	font-size: 0.8em;
}

textarea {
	width: 100%;
	font-family: monospace;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	background-color: var(--secondary);
	color: var(--primary);
}

center p {
	text-align: center;
}

@media screen and (max-width: 1060px) {
	body {
		width: 98%;
		padding-left: 1%;
		padding-right: 1%;
	}

	.page {
		width: 98%;
		padding-left: 1%;
		padding-right: 1%;
		row-gap: 40px;
	}

	.page>div,
	.page>md {
		width: 100%;
	}

	.minis {
		row-gap: 40px;
	}
}

@font-face {
	font-family: "bariol";
	src: url("https://openprocessing.org/assets/fonts/Bariol_Webfont/Bariol_Light_Webfont/bariol_light-webfont.eot");
	src: url("https://openprocessing.org/assets/fonts/Bariol_Webfont/Bariol_Light_Webfont/bariol_light-webfont.eot?#iefix") format("embedded-opentype"), url("https://openprocessing.org/assets/fonts/Bariol_Webfont/Bariol_Light_Webfont/bariol_light-webfont.woff") format("woff"), url("https://openprocessing.org/assets/fonts/Bariol_Webfont/Bariol_Light_Webfont/bariol_light-webfont.ttf") format("truetype"), url("https://openprocessing.org/assets/fonts/Bariol_Webfont/Bariol_Light_Webfont/bariol_light-webfont.svg#bariol_lightlight") format("svg");
	font-display: fallback;
}

#discord-brand {
	color: var(--primary);
	display: flex;
	align-items: center;
	width: fit-content;
}

#discord-brand img {
	opacity: 82%;
	height: 48px
}

.codepen-brand {
	opacity: 82%;
}

#discord-brand span {
	font-size: 28px;
	font-weight: bold;
	margin-right: 14px;
}

#discord-brand:hover span {
	color: var(--pink);
}

#discord-brand:hover {
	text-decoration: none;
}

#discord-brand:hover img {
	filter: sepia(100%) saturate(1000%) hue-rotate(80deg) invert() brightness(140%);
}

.bariol {
	font-family: "bariol", "source sans pro", "helvetica";
	font-weight: 300;
	line-height: 1;
	color: var(--primary);
	font-size: 36px;
}

#editors {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 32px;
}

.codepen-brand,
.replit-brand,
#discord-brand {
	border-bottom: 1px solid transparent;
}

.codepen-brand:hover,
.replit-brand:hover,
#discord-brand:hover {
	border-bottom: 1px solid #ed225d;
}

.replit-brand {
	margin-right: 16px;
	transform: scale(1.5);
}

.donate img {
	margin-bottom: -6px;
}

body.light .codepen-brand,
body.light .discord-brand,
body.light .discord-logo {
	filter: invert(1);
}

/* 
.day-mode .night {
	display: none;
}

.night-mode .day {
	display: none;
} */
