article {
	width: 100%;
	position: absolute;
	top: 0;
	flex-direction: row;
}

.reel {
	width: 100vw;
	height: 56.25vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

video {
	object-fit: cover;
	width: 100vw;
	position: absolute;
	left: 0;
	z-index: -2;
	image-rendering: pixelated;
}

.page {
	display: flex;
	width: 1030px;
	padding: 20px;
}

.spacer {
	padding: 0 !important;
}

.shell {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#p5play_logo0 {
	position: absolute;
	width: 200vw;
	top: -77vw;
	left: -15vw;
	z-index: -1;
	opacity: 0.75;
	transition: transform 0.5s;
	animation: osc 5s infinite alternate;
}

@keyframes osc {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

.hero-icon {
	display: flex;
	height: line-height;
	background-color: transparent;
	align-items: center;
	background-color: var(--secondary);
	gap: 8px;
	border-radius: 8px;
	margin-top: 16px !important;
}

.hero-icon h2 {
	margin-top: 0;
}

.page>.hero-icon {
	padding: 8px;
	margin-top: 64px;
	margin-left: 48px;
}

.page>.hero-icon>h2 {
	margin: 0;
}

.hero-icon img {
	width: 120px;
	height: 120px;
	margin-top: -90px;
}

.page>.hero-icon img {
	margin-left: -48px;
}

#page0>div {
	width: fit-content;
}

md {
	margin-top: -44px;
}

h2 {
	margin-left: 134px;
}

#md0-0 h2 {
	margin-left: 0;
}

#p5play-pro {
	display: flex;
	justify-content: center;
	align-items: end;
}

#p5play-pro div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
}

#p5play-pro p {
	text-align: center;
}

#p5play-pro span {
	font-family: Mont;
	font-size: 40px;
	color: cyan;
	text-shadow: 3px 3px 0px var(--pink0);
	margin: 0 16px;
}

#p5play-pro span:hover {
	color: transparent !important;
	-webkit-text-stroke: 1.6px cyan;
}

#p5play-pro img {
	width: 180px;
	max-width: 50%;
}

#username {
	font-weight: bold;
}

#support {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 32px;
}

#patreon-brand {
	display: flex;
	align-items: center;
	height: 42px;
	gap: 20px;
	width: min-content;
}

#patreon-brand,
#github-brand {
	border-bottom: 1px solid transparent;
}

#patreon-brand:hover,
#github-brand:hover {
	color: var(--pink);
	border-bottom: 1px solid var(--pink);
}

body.dark #patreon-brand {
	filter: invert(90%);
}

body.dark #github-brand :nth-child(2) {
	filter: invert(100%);
}
