#showcase {
	display: flex;
	margin-top: 16px;
	margin-left: 1vw;
	gap: 1vw;
}

/* COLUMNS */

.col {
	width: 15.5vw;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1vw;
}

.col-lg {
	width: 32vw;
	/* padding-left: 1vw; */
	/* padding-right: 1vw; */
}

#lg1 {
	flex-wrap: wrap;
	flex-direction: row;
}

#made_with_p5play {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18vw;
}

/* animation scale in and out */

@keyframes scale-ani {
	0% {
		transform: scale(0.95);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

#made_with_p5play img {
	max-width: 32vw;
	max-height: 18vw;
	/* use scale-ani */
	animation: scale-ani 2s ease-in-out infinite;
}

/* CARD */

.card {
	background-color: var(--secondary);
	color: var(--primary);
	height: 8.5vw;
	border-radius: 10px;
	overflow: hidden;
}

.card-lg {
	height: 18vw;
}

.thumbnail {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 9vw;
	align-items: center;
	overflow: hidden;
}

.card-lg .thumbnail {
	height: 18vw;
}

.thumbnail img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.thumbnail video {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.info {
	margin-top: -3vw;
	height: 3vw;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	font-size: 18px;
	background-color: var(--secondary);
	position: relative;
}

.info p {
	margin: 0;
}

.title {
	max-width: 50%;
	height: fit-content;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.author {
	max-width: 50%;
	height: fit-content;
	overflow: hidden;
	white-space: nowrap;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.card:hover {
	scale: 1.05;
	cursor: 'pointer';
	transition: scale 0.3s ease-in-out;
}

@media screen and (max-width:800px) {
	#showcase {
		flex-direction: column;
	}

	.col,
	.col-lg {
		width: 98vw;
		padding: 1vw;
	}

	.card {
		height: 36vw;
	}

	.card-lg {
		height: 60vw;
	}

	.card .thumbnail {
		height: 33vw;
	}

	.card-lg .thumbnail {
		height: 55vw;
	}

	.card:hover {
		scale: 1;
	}
}
