article {
	width: 100%;
	position: absolute;
	top: 0;
	flex-direction: row;
}

.reel {
	width: 100vw;
	height: 56.25vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

video {
	object-fit: cover;
	width: 100vw;
	position: absolute;
	left: 0;
	z-index: -2;
	image-rendering: pixelated;
}

.page {
	display: flex;
	width: 1030px;
	padding: 20px;
}

.spacer {
	padding: 0 !important;
}

.shell {
	background: transparent !important;
	border: none;
	box-shadow: none !important;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.shell .minis {
	align-items: center;
}

#p5play_logo0 {
	position: absolute;
	width: 200vw;
	top: -77vw;
	left: -15vw;
	z-index: -1;
	opacity: 0.75;
	transition: transform 0.5s;
	animation: osc 5s infinite alternate;
}

@keyframes osc {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

.hero-icon {
	display: flex;
	height: line-height;
	background-color: transparent;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	margin-top: 16px !important;
}

.hero-icon img {
	width: 120px;
	height: 120px;
	margin-top: -90px;
}

.page>.hero-icon img {
	margin-left: -48px;
}

#page0 {
	justify-content: start;
	align-content: center;
	gap: 16px;
}

#page0>div {
	width: fit-content;
}

md {
	margin-top: -44px;
}

h2 {
	margin-left: 134px;
}

#reel0 .hero-icon {
	margin-left: calc(50% - 60px);
	margin-top: -16px !important;
}

#reel0 md {
	margin: 0;
}

#reel0 h2 {
	margin-left: 0;
}

#md0-1 h2,
#md0-1 h3,
#md0-1 p {
	text-align: center;
}

#reel0 h3,
#reel0 .heroBtns p,
#md0-1 p {
	margin: 0;
}

#reel0 .heroBtns {
	margin-top: 0;
}

#reel0 h3 {
	color: var(--blue1);
	font-size: 40px;
}

#reel0 .minis .heroBtns p {
	text-align: center;
}

@media screen and (max-width: 1030px) {

	.reel,
	video {
		height: 70vw;
	}

	.page {
		width: 100%;
		align-content: flex-end;
	}

	#topNav>hr:first-of-type {
		order: unset;
	}

	#page0 {
		padding-top: 96px;
	}

	.shell {
		flex-direction: column;
	}

	#page0 {
		justify-content: center;
	}
}

@media screen and (max-width: 830px) {

	#reel0,
	#reel0 video {
		height: 100vw;
	}
}

@media screen and (max-width: 750px) {

	.reel,
	video {
		height: 100vw;
	}
}

@media screen and (max-width: 630px) {

	.reel,
	video,
	#reel0 video {
		height: 150vw;
	}

	#page0 {
		padding-top: 180px;
	}
}

@media screen and (max-width: 540px) {
	#reel0 {
		height: fit-content;
	}

	#page0 {
		max-width: 374px;
		padding-top: 140px;
	}

	#page0>div {
		width: 100%;
	}

	#teach-with-p5play {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		padding: 8px 20px;
	}

	#teach-with-p5play .logoLink {
		order: unset;
	}

	#edu-pricing {
		margin-top: 96px;
	}
}

@media screen and (max-width: 500px) {

	.hero-icon {
		margin-bottom: 16px;
	}

	md {
		margin-top: 0;
	}

	h2 {
		margin-left: 0;
	}
}

@media screen and (max-width: 432px) {

	.reel,
	video {
		height: 200vw;
	}

	#reel0 video {
		height: 220vw;
	}
}
