article {
	width: 100%;
	position: absolute;
	top: 0;
	flex-direction: row;
}

.reel {
	width: 100vw;
	height: 56.25vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

video {
	object-fit: cover;
	width: 100vw;
	position: absolute;
	left: 0;
	z-index: -2;
	image-rendering: pixelated;
}

.page {
	display: flex;
	width: 1030px;
	padding: 20px;
}

.spacer {
	padding: 0 !important;
}

.shell {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#p5play_logo0 {
	position: absolute;
	width: 200vw;
	top: -77vw;
	left: -15vw;
	z-index: -1;
	opacity: 0.75;
	transition: transform 0.5s;
	animation: osc 5s infinite alternate;
}

@keyframes osc {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

.hero-icon {
	display: flex;
	height: line-height;
	background-color: transparent;
	align-items: center;
	background-color: var(--secondary);
	gap: 8px;
	border-radius: 8px;
	margin-top: 16px !important;
}

.hero-icon img {
	width: 120px;
	height: 120px;
	margin-top: -90px;
}

.page>.hero-icon img {
	margin-left: -48px;
}

#page0 {
	justify-content: start;
	align-content: center;
	gap: 16px;
}

#page0>div {
	width: fit-content;
}

md {
	margin-top: -44px;
}

h2 {
	margin-left: 134px;
}

#md0-0 h2 {
	margin-left: 0;
}

#md0-1 {
	max-width: 360px;
}

#page0 md {
	width: fit-content;
}

#reel4 .hero-icon {
	margin-left: calc(50% - 60px);
	margin-top: -16px !important;
}

#reel4 md {
	margin: 0;
}

#reel4 h2 {
	margin-left: 0;
}

#reel4 h2,
#reel4 h3,
#md4-0 p {
	text-align: center;
}

#reel4 h3,
#reel4 p {
	margin: 0;
}

#reel4 h3 {
	margin-top: 24px;
	color: var(--blue1);
	font-size: 40px;
}

#reel4 .shell {
	margin-top: 16px;
}

@media screen and (max-width: 1030px) {

	.reel,
	video {
		height: 70vw;
	}

	.page {
		width: 100%;
		align-content: flex-end;
	}

	#page0 {
		gap: 72px;
	}

	#topNav>hr:first-of-type {
		order: unset;
	}
}

@media screen and (max-width: 730px) {

	.reel,
	video {
		height: 100vw;
	}
}

@media screen and (max-width: 630px) {

	.reel,
	video {
		height: 150vw;
	}
}

@media screen and (max-width: 500px) {

	.hero-icon {
		margin-bottom: 16px;
	}

	md {
		margin-top: 0;
	}

	h2 {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {

	.reel,
	video {
		height: 200vw;
	}
}
